<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Time</key>
	<array/>
	<key>AccountIcon</key>
	<array/>
	<key>Name</key>
	<array/>
	<key>Account</key>
	<array/>
	<key>Text</key>
	<array/>
	<key>Link</key>
	<array/>
	<key>Tweetid</key>
	<array/>
	<key>Trust</key>
	<array/>
</dict>
</plist>
