<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>date</key>
	<array/>
	<key>no</key>
	<array/>
	<key>yes</key>
	<array/>
	<key>author</key>
	<array/>
	<key>link</key>
	<array/>
	<key>id</key>
	<array/>
	<key>article</key>
	<array/>
</dict>
</plist>
